<html>
  <head>
    <style>
      table, td, th {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
    <title>Dojo Survey</title>
  </head>
  <body style="margin-top: 25px;">
    <form action='result' method='post'>
      Your Name: <input name="name" type="text">

      @using DojoSurveyModels
      @{
          DojoSurveyModels.LocalDictionary[] locations = @ViewBag.locations;
          DojoSurveyModels.LocalDictionary[] languages = @ViewBag.languages;
      }

      <br />Dojo Location
      <select name="location">
      @foreach(var location in locations){
        <option value="@location.id">@location.name</option>
      }
      </select>
      
      <br />Favorite Language
      <select name="language">
        @foreach(var language in languages){
          <option value="@language.id">@language.name</option>
        }
      </select>

      <br />Comment (optional):
      <br />
      <input type="text" name="comments">
      <br />
      <input type='submit' value='Submit'>
    </form>
  </body>
</html>
